*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #262626;
}

.container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 20px;
    margin-top: 10%;
}

.container .tabLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabLinks .tab-link{
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.tab-link::before{
    width: 0px;
    height: 3px;
    content: "";
    background: #262626;
    position: absolute;
    bottom: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.active-link::before{
    width: 50%;
}

.tab-content{
    display: none;
    margin-top: 1rem;
}

.active-tab{
    display: block;
}